@page
@model FinalProject.Pages.Messages.IndexModel

<h1>Messages</h1>

@if (!User.IsInRole("Tenant"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<h2>Received Messages</h2>
<table class="table">
    <thead>
        <tr>
            <th>Recipient</th>
            <th>Subject</th>
            <th>Send Date</th>
            <th>Read</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.ReceivedMessages)
        {
            <tr>
                <td>@message.SenderId</td>
                <td>@message.Subject</td>
                <td>@message.SendDate.ToString("g")</td>
                <td>
                    @(message.IsRead ? "Read" : "New")
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@message.MessageId">Open</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Sent Messages</h2>
<table class="table">
    <thead>
        <tr>
            <th>Recipient</th>
            <th>Subject</th>
            <th>Send Date</th>
            <th>Read</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.SentMessages)
        {
            <tr>
                <td>@message.ReceiverId</td>
                <td>@message.Subject</td>
                <td>@message.SendDate.ToString("g")</td>
                <td>@message.Content</td>
            </tr>
        }
    </tbody>
</table>