@page
@model FinalProject.Pages.Apartments_search.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Buildingid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].ApartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apartment) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Buildingid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalPrice)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                |<a asp-page="./Details" asp-route-id="@item.ApartmentId">Details</a>|
            </td>
        </tr>
}
    </tbody>
</table>
