@page
@model FinalProject.Pages.MyContracts.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Buildingid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].ApartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].RentalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apartment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buildingid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@item.ImagePath" alt="Apartment Image" style="width:100px;height:auto;" />
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ApartmentId">Details</a> |
                <a asp-page="/Messages/Create" asp-route-apartmentId="@item.ApartmentId">Message Manager</a>
            </td>
        </tr>
}
    </tbody>
</table>
